{
  "mail": {
    "imap_username": "support@example.com",
    "imap_password": "xxx",
    "smtp_username": "support@example.com",
    "smtp_password": "xxx"
  },
  "database": {
    "username": "n2k_user",
    "password": "xxx"
  },
  "llm": {
    "ollama_api_key": null,
    "openai_api_key": "sk-xxx",
    "anthropic_api_key": "sk-ant-xxx"
  },
  "admin": {
    "master_password": "xxx",
    "jwt_secret": "xxx"
  }
}
